<body>
    <div class="container-fluid">
        <!-- Main content goes here -->
    </div>

    <footer class="footer bg-light">
        <div class="container-fluid py-5" style="background-color: #f1f1f1; width: 100%;">
            <div class="container">
                <div class="row text-center text-md-left">
                    <!-- Newsletter Subscription Section -->
                    <div class="col-md-4 mb-4">
                        <h5 class="text-dark">Subscribe to our Newsletter</h5>
                        <p>Get the latest updates and offers directly in your inbox.</p>
                        <form class="d-flex justify-content-center justify-content-md-start">
                            <input type="email" class="form-control" placeholder="Enter your email" aria-label="Email" required>
                            <button type="submit" class="btn btn-primary ms-2">Subscribe</button>
                        </form>
                    </div>

                    <!-- Career Opportunities Section -->
                    <div class="col-md-4 mb-4">
                        <h5 class="text-dark">Career Opportunities</h5>
                        <ul class="list-unstyled">
                            <li><a href="/careers" class="text-dark footer-link">View Open Positions</a></li>
                            <li><a href="/internships" class="text-dark footer-link">Internships</a></li>
                        </ul>
                    </div>

                    <!-- Social Media Section -->
                    <div class="col-md-4 mb-4">
                        <h5 class="text-dark">Follow Us</h5>
                        <ul class="list-inline">
                            <li class="list-inline-item">
                                <a href="https://facebook.com" class="text-dark" target="_blank">
                                    <i class="fab fa-facebook-f"></i> Facebook
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a href="https://twitter.com" class="text-dark" target="_blank">
                                    <i class="fab fa-twitter"></i> Twitter
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a href="https://instagram.com" class="text-dark" target="_blank">
                                    <i class="fab fa-instagram"></i> Instagram
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a href="https://linkedin.com" class="text-dark" target="_blank">
                                    <i class="fab fa-linkedin-in"></i> LinkedIn
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>

                <!-- Copyright Section -->
                <div class="row">
                    <div class="col-12 text-center mt-4">
                        <span class="text-muted">© 2024 UrbanGyan. All rights reserved.</span>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</body>


