<!-- start_test.html -->
{% extends 'base.html' %}

{% block content %}
  <div class="test-container">
    <h2>{{ mock_test.Exam_Name }}</h2>
    <p>{{ instructions }}</p>
    <p>Duration: {{ duration }} minutes</p>

    <form method="POST" id="test-form">
      {% csrf_token %}
      <div id="questions">
        {% for question in mock_test.questions.all %}
          <div class="question">
            <p>{{ question.question }}</p>
            <div>
              <label>
                <input type="radio" name="question_{{ question.id }}" value="1"> {{ question.option_1 }}
              </label>
              <label>
                <input type="radio" name="question_{{ question.id }}" value="2"> {{ question.option_2 }}
              </label>
              <label>
                <input type="radio" name="question_{{ question.id }}" value="3"> {{ question.option_3 }}
              </label>
              <label>
                <input type="radio" name="question_{{ question.id }}" value="4"> {{ question.option_4 }}
              </label>
            </div>
          </div>
        {% endfor %}
      </div>

      <button type="submit">Submit</button>
    </form>
  </div>
{% endblock %}
